@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-dark: #1E1E1E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-dark: #1E1E1E;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-dark)
}
